# виртуалки
venv/
.venv/
env/
path/to/venv/

# питон-мусор
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/
*.log
.logs/
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.python-version

# IDE
.vscode/
.idea/
*.iml

# секреты и локальные конфиги
.env
.env.*
*.pem
*.key
id_rsa*
secrets/

# БД и локальные хранилища
*.db
*.sqlite3

# Telegram/Telethon/Pyrogram сессии
*.session
*.session-journal
